<!DOCTYPE html>
 	<head>
 		<meta charset="utf-8">
 		<title>MongoDB - LinkedIn for Robots</title>
 	</head>

 	<body>
    <div class="people-list">
      <!-- this goes through the robots.json file -->
    {{#robots}}
      <div>
        <img src="{{avatar}}">
        <a href="/index/{{username}}"><h2>{{name}}</h2></a>
        {{#job}}
          <p>{{job}}</p>
        {{/job}}
        {{^job}}
          <p>Available for Hire</p>
        {{/job}}
      </div>
    {{/robots}}
  </div>
 	</body>
 </html>