<!DOCTYPE html>
 	<head>
 		<meta charset="utf-8">
 		<title>MongoDB - LinkedIn for Robots</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
 	</head>

 	<body>
    <a href="unemployed">Robots Looking for Work</a>
    <a href="employed">Robots Already Working</a>
    <div class="container">
      <!-- this goes through the robots.json file -->
    {{#robots}}
      <div class="profile">
        <img src="{{avatar}}">
        <a href="/index/{{username}}"><h2>{{name}}</h2></a>
        {{#job}}
          <p>{{job}}</p>
        {{/job}}


        {{^job}}
          <p>Available for Hire</p>
        {{/job}}
      </div>
    {{/robots}}
  </div>
 	</body>
 </html>